*.pyo
*.pyc
*.o
*.a
*.so
*.lo
*.la
*.deps
Makefile*
Makefile.in
boost/**
Cython/**
hdf5/**
libxlsxwriter/**
mpi4py/**
mpich/**
netcdf/**
numpy/**
Python/**
udunits/**
mpich/src/openpa/Makefile.in
netcdf/include/netcdf_meta.h
